#post-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.preview-posts-section {
  padding-top: 32px;
  margin-left: 100px;
  width: 70%;
}

.header {
  width: fit-content;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 16px;
  border: none;
  background-color: #355c7d;
  border-radius: 15px;
  padding: 7px;
  font-weight: 400;
}

.main-content-container {
  display: flex;
}

.preview-communities-section {
  padding-top: 32px;
}

.communities-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
}

.error-wrapper {
  margin: 0 auto;
  padding-top: 20px;
}

.error-message {
  color: #355c7d;
  text-align: center;
  padding-top: 20px;
}

.try-again-button {
  display: block;
  border: none;
  background: #355c7d;
  box-shadow: 2px 2px 5px #457b9d;
  width: 100px;
  height: 75px;
  border-radius: 20px;
  bottom: 5%;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
}

.try-again-button:hover {
  transform: scale(1.1);
}
