#post-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.preview-posts-section {
  padding-top: 32px;
  margin-left: 100px;
  width: 70%;
}

.header {
  width: fit-content;
  padding: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 16px;
  border: none;
  background-color: #355c7d;
  border-radius: 15px;
  padding: 7px;
  font-weight: 400;
}

.main-content-container {
  display: flex;
}

.preview-communities-section {
  padding-top: 32px;
}

.communities-container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
}
